/* TODO: figure out how to actually use Primer CSS here */
.comment {
  color: #666;
}
.card-success {
  color: #5a5;
}
.card-failure {
  color: #a55;
}
.card-pending {
  color: #55a;
}
.cardcount {
  color: #555;
}
.uncertain {
  color: #000;
}
